<footer class="insta-footer">
	<ul class="insta-footer_list">
		<li class="insta-footer_item">Información</li>
		<li class="insta-footer_item">Asistencia</li>
		<li class="insta-footer_item">Blog</li>
		<li class="insta-footer_item">Prensa</li>
		<li class="insta-footer_item">API</li>
		<li class="insta-footer_item">Empleo</li>
		<li class="insta-footer_item">Privacidad</li>
		<li class="insta-footer_item">Condiciones</li>
		<li class="insta-footer_item">Directorio</li>
		<li class="insta-footer_item">Perfiles</li>
		<li class="insta-footer_item">Hashtags</li>
		<li class="insta-footer_item">Idioma</li>
	</ul>
	<p class="insta-footer_copyright">© 2018 Instagram</p>
</footer>