{% load static %}

<nav class="insta-navbar">
    <section class="insta-navbar_section">
        <span class="fa fa-instagram"></span>
        <span class="insta-separator"></span>
        <img src="{% static 'images/instagram_logo_letras.png' %}" alt="Instagram">
    </section>
    <form method="GET" action="" autocomplete="off">
        <input type="text" placeholder="Buscar">
    </form>
    <section class="insta-navbar_section">
        <a href="" class="fa fa-compass"></a>
        <a href="" class="fa fa-heart"></a>
        <a href="" class="fa fa-user"></a>
    </section>
</nav>