{% load static %}

<nav class="insta-navbar" id="insta-navbar">
    <section class="insta-navbar_content">
        <a href="{% url 'home' %}" class="insta-navbar_section">
            <span class="fa fa-instagram insta-navbar_logo"></span>
            <span class="insta-navbar_separator"></span>
            <img class="insta-navbar_letras" src="{% static 'images/instagram_logo_letras.png' %}" alt="Instagram">
        </a>
        <form method="GET" action="" autocomplete="off">
            <input type="search" placeholder="Buscar" class="insta-navbar_input">
        </form>
        <section class="insta-navbar_section">
            <a href="" class="fa fa-compass insta-navbar_icon"></a>
            <a href="" class="fa fa-heart-o insta-navbar_icon"></a>
            <a href="{% url 'profile' %}" class="fa fa-user-o insta-navbar_icon"></a>
        </section>
    </section>
</nav>