
/* variables.css */

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --gutter: 16px;
    --padding: 16px;
    --margin: 16px;
    --main_font: 'Roboto', sans-serif;

    --dark_blue: #003569;
    --gray_9: #999;

    --tablet: 768px;
}