{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no"/>
        <meta name="theme-color" content="#ae70cc"/>
        <link rel="icon" href="{% static 'images/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        <title>Instagram</title>
    </head>
    <body>
        <h1>Hola mundo :)</h1>
    </body>
    <script src="{% static 'js/scripts.js' %}"/>
</html>