
/* index.css */

.insta-index_content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding) 0;
    margin: auto;
}

.insta-index_phones {
    display: none;
}

@media all and (min-width: 876px) {
    .insta-index_phones {
        display: block;
    }
}

.insta-index_data {
}

.insta-index_box {
    background: white;
    border: 1px solid var(--border);
    width: 350px;
    margin-bottom: var(--margin);
    padding: var(--padding) 40px;
}

.insta-index_login {
    text-align: center;
    font-size: 14px;
}