.insta-profile {
    max-width: 900px;
}

.insta-profile_header {
    display: flex;
    align-items: center;
}

.insta-profile_picture_container {
    padding: var(--padding) 100px;
}

.insta-profile_picture {
    width: 152px;
    height: 152px;
    border-radius: 50%;
}

.insta-profile_data {
    font-weight: lighter;
}

.insta-profile_username {
    font-size: 2rem;
}

.insta-profile_edit {
    padding: 5px var(--padding);
    font-size: 0.8rem;
    background: var(--background);
    border: 1px solid var(--gray_db);
    border-radius: 3px;
    margin: 0 var(--margin);
    outline: 0;
}

.insta-profile_edit:active {
    color: var(--gray_db);
}

.insta-profile_counters {
    margin-right: 40px;
}

.insta-profile_number {
    font-weight: bold;
}

.insta-profile_cog {
    color: inherit;
}

.insta-profile_data_section {
    display: flex;
    align-items: center;
}

.insta-profile_description {
    margin: 0;
    font-weight: normal;
}

.insta-profile_gallery {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.insta-profile_photo {
    position: relative;
}

.insta-profile_photo_image {
    width: 100%;
    height: 100%;
    display: block;
}

.insta-profile_photo_content {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
}

.insta-profile_photo_content:hover {
    opacity: 1;
}
