.insta-profile {
}

.insta-profile_header {
    display: flex;
    margin-bottom: 44px;
}

.insta-profile_picture_container {
    margin-right: 20px;
}

.insta-profile_picture {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.insta-profile_data {
}

.insta-profile_username {
    font-size: 2rem;
    font-weight: 200;
    margin-right: 20px;
}

.insta-profile_edit {
    padding: 0 24px;
    line-height: 26px;
    font-size: 0.9rem;
    background: var(--background);
    border: 1px solid var(--gray_db);
    border-radius: 3px;
    font-weight: 600;
    margin-right: 10px;
    outline: 0;
}

.insta-profile_edit:active {
    color: var(--gray_db);
}

.insta-profile_counters {
    margin: 16px 40px 16px 0;
    font-weight: 400;
}

.insta-profile_number {
    font-weight: 600;
}

.insta-profile_cog {
    color: inherit;
}

.insta-profile_data_section {
    display: flex;
    align-items: center;
}

.insta-profile_description {
    margin: 0;
    font-weight: 600;
}

.insta-profile_gallery {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(3, 1fr);
}

.insta-profile_photo {
    position: relative;
}

.insta-profile_photo_image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.insta-profile_photo_content {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
}

.insta-profile_photo_content:hover {
    opacity: 1;
}

.insta-profile_photo_icon {
    padding: 10px;
}

.insta-profile_photo_icon .fa {
    margin-right: 5px;
}

@media all and (min-width: 876px) {
    .insta-profile_header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1.5rem;
    }

    .insta-profile_picture {
        width: 152px;
        height: 152px;
    }

    .insta-profile_gallery {
        grid-gap: 1.5rem;
    }
}